@model MVCFinalProject.Models.Designation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Designation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
