@model MVCFinalProject.Models.Section

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SecID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
